# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
.venv/
backend/venv/

# Database
backend/sports_injury.db

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# React / Vite
frontend/node_modules/
frontend/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*